
node_modules/
.idea/
.vscode/
*/dist/
*.log
log/

src/backend/**/*.js
src/shared/**/*.js
src/**/*.js
out/
src/backend/_study/*
src/**/*.d.ts
lib/*
build/*
cmake-build-debug/
cmake-build-debug/
cmake-build-debug/*
src/backend/debug/
bundle/
*.exe
crawler/
