
node_modules/
.idea/
.vscode/
*/dist/
*.js
backend-out/
src/backend/**/*.js
src/shared/**/*.js
src/**/*.js
out/
src/backend/src/study/*
src/**/*.d.ts
lib/*
build/*
cmake-build-debug/
cmake-build-debug/
cmake-build-debug/*