<?xml version="1.0" encoding="UTF-8"?>
<!--23.05.28-2116-->
<root>
	<dbUserName>root</dbUserName>
	<dbPassword>admin</dbPassword>
	<dbName>voca</dbName>
	<url>http://127.0.0.1:1919</url>
	<lings>
		<ling>
			<lingName>eng</lingName>
			<tableName>eng</tableName>
			<srcFilePath>.\srcWordList\eng\eng[20230515112601,].txt</srcFilePath>
		</ling>
		<ling>
			<lingName>jap</lingName>
			<tableName>jap</tableName>
			<srcFilePath>.\srcWordList\jap\jap[20230515112439,].txt</srcFilePath>
		</ling>
	</lings>
</root>

<!--
{
數據庫用戶名和密碼
㕥配日期ᵗ正則表達式
分割詞塊之正則表達式
用戶自定義保存ᵗ權重算法
}
-->
